data/csv-files/actor-movie-ids-master.csv filter=lfs diff=lfs merge=lfs -text
data/csv-files/movies-master.csv filter=lfs diff=lfs merge=lfs -text
data/csv-files/person_ids.csv filter=lfs diff=lfs merge=lfs -text
data/csv-files/movie_ids.csv filter=lfs diff=lfs merge=lfs -text
data/tmdb-venv filter=lfs diff=lfs merge=lfs -text
data/tmdb-venv/include filter=lfs diff=lfs merge=lfs -text
data/tmdb-venv/lib filter=lfs diff=lfs merge=lfs -text
data/tmdb-venv/pyvenv.cfg filter=lfs diff=lfs merge=lfs -text
data/tmdb-venv/bin filter=lfs diff=lfs merge=lfs -text
presentation-recording-cinescope.mov filter=lfs diff=lfs merge=lfs -text
cinescope-presentation-video.mov filter=lfs diff=lfs merge=lfs -text
